﻿@model fizzbuzzWeb.Models.FizzBuzzParameters
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "DisplayResult";
}

<h2>DisplayResult</h2>
<link href="~/Content/ThemeForFizzBuzz.css" rel="stylesheet" />

<div>
    @foreach (var output in Model.OutputList)
    {
        var wordArray = output.Split(' ');
        if (wordArray.Count() > 1)
        {
            <P>
                @foreach (var words in wordArray)
                {
                    <span class="@words">@words</span>
                }

            </P>
        }

        else
        {
            <P class="@output">@output</P>

        }

    }

</div>

@Html.PagedListPager((IPagedList)Model.OutputList, i => Url.Action("DisplayResult", "Home", new { i = i, InputNumber = Model.InputNumber }), PagedListRenderOptions.MinimalWithPageCountText)